{% load static %}

<footer class="footer-distributed">

	<div class="footer-left">
<img src="{% static  'img/assets/MercuryLogo.png' %}"><br>
		<p class="footer-links">
			<a href="#">Home</a>
			|
			<a href="#">About</a>
			|
			<a href="#">Contact</a>
		</p>
		<br>
		<p class="footer-company-name">© 2024 MERCURY. All Rights Reserved. <br>Designed with ❤️ For Shopping Enthusiasts.</p>
	</div>

	<div class="footer-center">
		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>Bangaon Kulpi Rd, Biswa Bangla Sarani</span>
				Kolkata - 700078, India</p>
		</div>

		<div>
			<i class="fa fa-phone"></i>
			<p><a href="tel:+91 7855973986">+91 7855973986</a></p>
		</div>
		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:shreya.kundu.mar30@gmail.com">shreya.kundu.mar30@gmail.com</a></p>
		</div>
	</div>
	<div class="footer-right">
		<p class="footer-company-about">
			<span style="font-family: 'Book Antique';">About the Company</span>
			MERCURY is your ultimate online shopping destination. With a vast selection spanning clothing, electronics, cosmetics, home essentials, books, stationery, and sports gear, we offer convenience, quality, and competitive prices. Our commitment to innovation and customer satisfaction ensures a seamless shopping experience. Join us at MERCURY and discover the difference today!</p>
		<div class="footer-icons">
			<a href="#"><i class="fab fa-facebook"></i></a>
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
			<a href="#"><i class="fab fa-linkedin"></i></a>
			<a href="#"><i class="fab fa-youtube"></i></a>
		</div>
	</div>
</footer>